.editor-styles-wrapper .wp-block,
.editor-styles-wrapper .editor-block-list__block.wp-block[data-align=wide],
.wp-block[data-align="wide"] {
	max-width: 1170px;
}
.editor-styles-wrapper .wp-block:not([data-align="full"]) {
	max-width: 1170px;
}
.editor-block-list__layout .editor-block-list__block,
.editor-styles-wrapper .editor-block-list__layout .editor-block-list__block p,
.block-editor__container .editor-styles-wrapper .mce-content-body {
	color: #383838;
	font-family: Roboto;
	font-weight: 400;
	font-size: 18px;
	line-height: 34px;
}
.post-type-post .editor-block-list__layout .editor-block-list__block {
	color: #404040;
}
.editor-block-list__layout .editor-block-list__block h1,
.editor-styles-wrapper .editor-post-title__block .editor-post-title__input {
	font-family: Poppins;
	font-weight: 700;
	font-size: 52px;
	line-height: 62.4px;
}
.editor-block-list__layout .editor-block-list__block h2 {
	font-family: Poppins;
	font-weight: 700;
	font-size: 42px;
	line-height: 50.4px;
}
.editor-block-list__layout .editor-block-list__block h3 {
	font-family: Poppins;
	font-weight: 700;
	font-size: 36px;
	line-height: 47.9px;
}
.editor-block-list__layout .editor-block-list__block h4 {
	font-family: Poppins;
	font-weight: 700;
	font-size: 32px;
	line-height: 38.4px;
}
.editor-block-list__layout .editor-block-list__block h5 {
	font-family: Poppins;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.8px;
}
.editor-block-list__layout .editor-block-list__block h6 {
	font-family: Poppins;
	font-weight: 700;
	font-size: 18px;
	line-height: 21.6px;
}
.post-type-post .editor-block-list__layout .editor-block-list__block a {}
.post-type-post .editor-block-list__layout .editor-block-list__block a:hover {}
.post-type-post .editor-block-list__layout .editor-block-list__block a:active {}
.editor-block-list__layout .editor-block-list__block a {
	color: #ff6000;
}
.editor-block-list__layout .editor-block-list__block a:hover {
	color: #2a2273;
}
.editor-block-list__layout .editor-block-list__block a:active {
	color: #ff6000;
}
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color),
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline:focus .wp-block-button__link:not(.has-text-color),
.editor-block-list__layout .editor-block-list__block .wp-block-button.is-style-outline:active .wp-block-button__link:not(.has-text-color) {
	color: #ff6000;
	/* base: #0073a8; */
}
/* Button colors */
.entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.entry-content .wp-block-button.is-style-outline:hover .wp-block-button__link:not(.has-text-color) {
	color: #ff6000;
	/* base: #005177; */
}
.editor-block-list__layout .editor-block-list__block .wp-block-quote:not(.is-large):not(.is-style-large),
.editor-styles-wrapper blockquote.wp-block-quote.is-large,
.editor-styles-wrapper blockquote.wp-block-quote.is-style-large,
.editor-styles-wrapper blockquote,
.editor-styles-wrapper .wp-block-pullquote blockquote.has-light-gray-color {
	border-color: #ff6000 !important;
	/* base: #0073a8; */
}
.editor-block-list__layout .editor-block-list__block blockquote.wp-block-quote.is-large,
.editor-block-list__layout .editor-block-list__block blockquote.wp-block-quote.is-style-large {
	border-left-color: #ff6000;
}
.wp-block-quote[style*="text-align:right"],
.wp-block-quote[style*="text-align: right"] {
	border-right-color: #ff6000;
}
.editor-block-list__layout .editor-block-list__block .wp-block-pullquote.is-style-solid-color:not(.has-background-color) {
	background-color: #ff6000;
	/* base: #0073a8; */
}
.editor-block-list__layout .editor-block-list__block .wp-block-file .wp-block-file__button,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:active,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
	background-color: #ff6000;
	/* base: #0073a8; */
}
.wp-block-quote:before,
.wp-block-pullquote blockquote.has-light-gray-color:before,
.wp-block-pullquote blockquote:before,
.editor-block-list__layout .editor-block-list__block .has-cyan-bluish-gray-background-color.has-cyan-bluish-gray-background-color:not(.has-background-color) blockquote:before,
.wp-block-freeform.block-library-rich-text__tinymce blockquote:before {
	background-color: #ff6000;
	/* base: #0073a8; */
}
.editor-block-list__layout .editor-block-list__block .wp-block-file .wp-block-file__button:hover,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:active,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus,
.editor-block-list__layout .editor-block-list__block .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover {
	background-color: #333;
	/* base: #0073a8; */
}
/* Hover colors */
.editor-block-list__layout .editor-block-list__block .wp-block-file .wp-block-file__textlink:hover {
	color: #ff6000;
	/* base: #005177; */
}
.editor-block-list__layout figure.wp-block-pullquote {
	border-bottom: none;
	border-top: none;
}
/* Do not overwrite solid color pullquote or cover links */
.editor-block-list__layout .editor-block-list__block .wp-block-pullquote.is-style-solid-color a,
.editor-block-list__layout .editor-block-list__block .wp-block-cover a {
	color: inherit;
}